body
{
	padding: 0;
	margin: 0;
	font-family: fantasy;
	font-weight: bold;
}

header 
{
	padding: 0.25%;
	margin: 0;
}

h1
{
	margin: 0.5%;
}

section
{
	margin: 0.5%;
}

.centre
{
	text-align: center;
}

.champ
{
	margin: 0.1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-family: fantasy;
	font-weight: bold;
}

.arrondi
{
	border-radius: 5px;
}

.fond-violet, .fond-consultant, .fond-publique
{
	background-color: #BB88DD;
	color: #FFF;
}

.fond-rose
{
	background-color: #EECCEE;
	/*background-color: #EEDDFF;*/
}

.fond-listique
{
	background: url(../images/LicorneSemiTransparente.png) no-repeat center center;
	min-height: 350px;
}

.fond-privee
{
	background-color: #8855BB;
	color: #FFF;
}

.fond-admin
{
	background-color: #9966CC;
	color: #FFF;
}

.fond-editeur
{
	background-color: #AA77EE;
	color: #FFF;
}
/*
.fond-consultant
{
	background-color: #BB88DD;
	color: #FFF;
}

.fond-publique
{
	background-color: #BB88DD;
	color: #FFF;
}*/

#connexion, #inscription
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.carte-listee
{
	width: 25%;
	max-width: 150px;
	height: 30px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10px;
	padding-top : 5px;
	padding-bottom : 20px;
	border: none;
}

#contenu-carte
{
	margin: 2em;
}

.element-carte
{
	margin-left: 1em;
	margin-top: 0.5em;
}
